h1 {
    font-weight: bold;
    font-size: 1.2rem;
}

.dashedBorderBottom {
    border-bottom: 1px dashed var(--ion-color-medium);
    padding-bottom: 1vh;
    margin-top: 1vh;
}

.veg {
    align-items: center;
}

ion-thumbnail {
    height: 10vh;
    width: 20vw;
    img {
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }
}