<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img [src]="restaurant()?.cover ? restaurant().cover : 'assets/imgs/1.jpg'" />
  </ion-thumbnail>
  <ion-label>
    <h4>{{restaurant()?.name}}</h4>
    <ion-text color="medium">
      <p class="pStyle">{{restaurantService.getCuisine(restaurant())}}</p>
      <ion-text color="dark">
        <span>
          <ion-icon name="star"></ion-icon>
          {{restaurant().rating}}
        </span>
        {{restaurant()?.delivery_time}} mins, {{restaurant()?.price}} for two
      </ion-text>
      <ion-text color="tertiary">
        <p class="distance">{{restaurant()?.distance | number: '0.0-2'}} miles away</p>
      </ion-text>
    </ion-text>
  </ion-label>
</ion-item>